.about {
  width: 100vw;
}
.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 0 auto;
  padding-top: 8.3rem;
  padding-bottom: 12rem;
  background-color: #e9c46a;
  background-image: linear-gradient(135deg, #e9c46a, #f4a261);
  color: hsl(224, 91%, 99%);
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
}

h2 {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
  text-transform: uppercase;
}

.about-div {
  max-width: 90rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img-section {
  display: flex;
  justify-content: center;
  padding: 4rem;
  max-width: 50rem;
}

.about-img {
  border-radius: 0.8rem;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.about-text-section {
  max-width: 60rem;
  font-size: 1.8vh;
  font-weight: 700;
  line-height: 1.7;
}

.about-button {
  background-color: #6c91f7;
  border: none;
  cursor: pointer;
  padding: 1.2rem 1.6rem;
  color: #ffffff;
  font-size: 1.4rem;
  border-radius: 0.8rem;
  font-weight: 600;
  margin-top: 2.3rem;
}

.about-button:hover {
  background-color: #4172f6;
  transform: translatey(-3px);
  box-shadow: rgba(0, 0, 0, 0.25) 2.35px 2.5px 2.6px;
  transition: background-color 0.2s ease-in-out;
}

@media screen and (max-width: 750px) {
  .about-div {
    flex-direction: column;
    gap: 2rem;
  }

  .about-img-section {
    width: 60vw;
  }

  .about-img {
    max-height: 40vw;
  }

  .about-text-section {
    width: 68vw;
    font-size: 1.4rem;
    font-weight: 700;
  }

  .about-button {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 550px) {
  .about-img-section {
    width: 70vw;
  }

  .about-img {
    max-height: 50vw;
  }
  .about-text-section {
    width: 75vw;
    font-size: 1.3rem;
    font-weight: 700;
  }
}

@media screen and (max-width: 375px) {
  .about-text-section {
    width: 85vw;
    font-size: 1.2rem;
    font-weight: 700;
  }
}
