.hero {
  display: flex;
  height: 90vh;
  justify-content: center;
}

.hero-section {
  padding-top: 25vh;
}

.hero-text {
  font-size: 4vw;
  font-weight: 700;
  color: hsl(224, 91%, 15%);
}

.text-background {
  background: linear-gradient(90deg, #658bf4, #f26d6a);
  background-size: 300% 300%;
  animation: gradient 1.4s alternate infinite;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

path {
  transform-origin: 50% 0%;
}

.background--custom {
  background-color: hsl(224, 91%, 98%);
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  top: 0;
  left: 0;
}

.button-section {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 4.6rem;
  margin-bottom: 3.2rem;
}

.hero-button {
  background-color: #6c91f7;
  border: none;
  cursor: pointer;
  padding: 1.2rem 1.6rem;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 0.8rem;
}

.hero-button:hover {
  background-color: hsl(224, 91%, 61%);
  transform: translatey(-3px);
  box-shadow: rgba(0, 0, 0, 0.25) 2.35px 2.5px 2.6px;
  transition: background-color 0.2s ease-in-out;
}

.hero-button:active {
  transform: translateY(0);
  box-shadow: none;
}

.background--custom.dark {
  background-color: rgb(24, 23, 36);
  color: hsl(224, 91%, 98%);
}

.fade-first {
  animation: fade-first 1.3s;
}

.fade-first.dark {
  color: white;
}

.fade-second {
  opacity: 0;
  animation-name: fade-second;
  animation-duration: 1.3s;
  animation-delay: 1.1s;
  animation-fill-mode: forwards;
}

.fade-second.dark {
  color: white;
}

.fade-third {
  opacity: 0;
  animation-name: fade-second;
  animation-duration: 1.5s;
  animation-delay: 2.8s;
  animation-fill-mode: forwards;
}

.fade-third.dark {
  color: white;
}

@keyframes fade-first {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-second {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-third {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes path0 {
  0% {
    transform: rotate(-18deg);
  }
  100% {
    transform: rotate(30deg);
  }
}
@keyframes path1 {
  0% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
@keyframes path2 {
  0% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(-40deg);
  }
}

@media screen and (max-width: 700px) {
  .hero-section {
    padding-top: 20vh;
  }
  .hero-text {
    padding: 1rem;
    font-size: 3rem;
  }

  .hero-button {
    font-size: 1.2rem;
    padding: 1rem 1.4rem;
  }
}

@media screen and (max-width: 500px) {
  .hero-text {
    font-size: 2rem;
  }

  .hero-button {
    font-size: 1rem;
    padding: 0.8rem 1.2rem;
  }
}
