.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  margin: 0 auto;
  color: hsl(224, 91%, 23%);
}

.projects-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120rem;
  gap: 4rem;
  padding-bottom: 3rem;
  transition: all 0.5s;
}

.projects-text {
  display: flex;
  width: 40rem;
  flex-direction: column;
}

.projects-text h2 {
  font-size: 2.8rem;
  font-weight: bold;
}

.projects-text a:link,
a:visited {
  text-decoration: none;
  color: hsl(224, 91%, 61%);
}

.projects-text a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.projects-text p {
  font-size: 1.8rem;
  font-weight: 600;
}

.projects-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-photo {
  border-radius: 0.8rem;
  object-fit: cover;
  height: 35rem;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  cursor: pointer;
}

.projects-section.dark {
  background-color: rgb(24, 23, 36);
  color: white;
}
.mb-small {
  margin-bottom: 4rem;
}

.mb-medium {
  margin-bottom: 6.5rem;
}

@media screen and (max-width: 1000px) {
  .projects-content {
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .reverse {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .projects-text {
    width: 50rem;
  }

  .projects-text a {
    align-self: flex-start;
  }

  .projects-text p {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.6;
  }

  .projects-text h2 {
    text-align: center;
  }

  .projects-image {
    width: 55rem;
    display: flex;
    justify-content: center;
  }

  .projects-photo {
    height: 36rem;
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .projects-title {
    font-size: 4rem;
  }
  .projects-text {
    width: 75vw;
  }

  .projects-text p {
    font-size: 1.4rem;
  }

  .projects-image {
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  .projects-photo {
    height: auto;
    width: 100%;
    border-radius: 0;
  }
}

@media screen and (max-width: 500px) {
  .projects-text {
    width: 90vw;
  }
  .projects-text p {
    font-size: 1.2rem;
  }
}
